@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Lugrasimo&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,900&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.head{
    background: url(./image/IMG_2817.JPG) no-repeat;
    background-size: cover;
    background-position: end bottom;
}

.header{
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
   color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
 .name{
    color: #00abf0;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
}
.navbar a:hover{
    transform: scale(1.1);
    transition: .3s;
 }
 
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
.menu{
    display: none;
    position: absolute;
    width: 45px;
    top: 19px;
    right: 50px;
}
.home{
    height: 100vh;
    color: #080808;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}
.home-content{
    width:600px ;
}
.home-content h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 20px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 15px;
    margin: 20px 0px 20px;
}
.home-content .links{
    display: flex;
    justify-content: space-between;
    width: 340px;
    height:50px ;
    background: transparent;
}
.home-content .links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
}
.links a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.home-content .links a:hover{
background: #ededed;
color: #081b29;
}
.home-sci{
    position: absolute;
    bottom: 20px;
    width: 170px;
    background:transparent;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    transition: .5s;
}
.home-sci a:hover{
    background: #ededed;
    color: #081b29;
}

.pages{
    margin: 3% 15%;
    font-family: 'Poppins', sans-serif;
}


.about{
    margin-top: 100px;
   }
   .about p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight:300;
   }
   .images{
    margin-top: 60px;
   }
   .images .image-card{
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
   }
   .images .image-card .image-left{
    margin-right: 40px;

   }
   .images .image-card .image-left img{
    height: 200px;
    width: 400px;
   }

   footer{
    margin-top: 100px;
   }

   footer p{
    text-align: center;
   }

   @media screen and (max-width: 800px){
    .header{
        padding: 2%;
        position: absolute;
    }
    .navbar a{
        margin-left: -10px;
        display: flex;
    }
    .head{
        background: #081b29;
    }
    .home{
        padding: 10px;
        color: #ededed;
    }
    .home-content h1{
        font-size: 30px;
        font-weight: 800;
        line-height: 1.2;
    }
        .images .image-card{
            flex-wrap: wrap;
        }
   }
   @media screen and (max-width: 320px){

    .pages{
        margin: 10px;
    }
         header .header-left{
        margin-left: 0;
    }
    header .header-reight{
        margin-bottom: 40px;
    }
    header .header-reight img{
        width: 250px;
    }
       .home-content .links{
            display: flex;
     justify-content: space-between;
    width: 250px;
    height:40px ;
     margin:0;
}
       .home-content p{
    font-size: 15px;
    margin:10px 0px 10px;
}
         .about p{
    margin-top: 10px;
    font-size: 15px;
    line-height: 30px;
    font-weight:300;
   }

    .images .image-card .image-left img{
        width: 100%;
    }
    footer span{
        align-items: center;
    }
   }
   @media screen and (max-width:480px){
    .navbar a{
        margin-left: 5px;
        display: flex;
    }

   }
   





   
